<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Exemplo Angular</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="javascript:void(0)" routerLink="/calculadora">Calculadora</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)" routerLink="/calcula-media-simples">Calcula Média simples</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)" routeLinkActive="active" [routerLink]="['/calculadora',num1,num2]">Calculadora parametro</a>
                  </li>
                  <!-- tela pai link -->
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="javascript:void(0)" routerLink="/tela-pai">Exemplo rota aninhado</a>
                  </li>
                  <!-- Usuarios -->
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="javascript:void(0)" routerLink="/lista-usuario">Usuarios</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
